*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'manjari', sans-serif;
}
.container{
    background:rgba(36, 53, 4, 0.041);
    width: 90%;
    max-width: 1000px;
    margin:1.6em auto;
    display:grid;
    gap: 1.6em;
   grid-template-columns: repeat(2,1fr);
}
.container > .header,
.container > .content,
.container > .sidebar,
.container > footer,
.container > div {
background: white;
padding: 20px;
border: 1px solid black;
margin: 0

}

.container .header{
    grid-column: 1/3;
    background: #1e272e;
    color: white;
    text-align:right;
    
}
.container > .content{
    background: #1e272e; 
    color: white;
}  

p {
    /*border: red 2px solid;*/
    margin: 20px;
  }
 h3{
    background: #1e272e;
    color: white;
    margin: 25px;
    text-align:left;
  }
 
  #sobre {
    display: none;
  }
